<!-- <canvas #runner id="runner" width="800px" height="600px" style="border: 2px solid black;"  ></canvas> -->
   
<!-- <canvas #runner id="runner" width="800px" height="600px" style="border: 2px solid black;"  (mousedown)="jump()"></canvas> -->

<div id="game">
    <div class="container">
        <div class="puntuacion">Puntuacion : {{contadorMonedas}}</div>
        <div class="reiniciar"><button class="btn-primary" (click)="reiniciarJuego()">Reiniciar</button></div>
    </div>
    <div id="cartel" class="cartelcont">
        <div id="gameover" class="gameover">
            <h3 class="animate-charcter"> GAME OVER</h3>
            <h4>Puntuacion: {{contadorMonedas}}</h4>
            <div class="reiniciar"><button class="btn-primary" (click)="reiniciarJuego()">Reiniciar</button></div>
        </div>
        <div id="winner" class="winner">
            <h3 class="animate-charcter"> WINNER</h3>
            <h4>Puntuacion: {{contadorMonedas}}</h4>
            <div class="reiniciar"><button class="btn-primary" (click)="reiniciarJuego()">Reiniciar</button></div>
        </div>
       
    </div>
    <div class="layer layer1"></div>
    <div class="layer layer2"></div>
    <div class="layer layer3"></div>
    <div class="layer layer4"></div>
    <div class="layer layer5"></div>
    <div id= "char" class="char-run">
        <!-- <img src="../assets/images/games/runner/soldier_walk2.png" alt="" width="80px" height="120px"> -->
        <!-- <img src="../assets/images/games/runner/soldier_duck.png" alt="" width="80px" height="60px"> -->
    </div>
    <div id="obstacle" class="obstacle"></div>
    <div id="obstacle2" class="obstacle2"></div>
    <div id="burbuja"></div>
    <div id="coin"></div>
    <div id="burbuja2"></div>
    <div id="coin2"></div>
</div>
