<!-- <canvas #runner id="runner" width="800px" height="600px" style="border: 2px solid black;"  ></canvas> -->
   
<!-- <canvas #runner id="runner" width="800px" height="600px" style="border: 2px solid black;"  (mousedown)="jump()"></canvas> -->

<div id="game" (mousedown)="jump()">
    <div class="layer layer1"></div>
    <div class="layer layer2"></div>
    <div class="layer layer3"></div>
    <div class="layer layer4"></div>
    <div class="layer layer5"></div>
    <div class="char-run">
        <!-- <img src="../assets/images/games/runner/soldier_walk2.png" alt="" width="80px" height="120px"> -->
        <!-- <img src="../assets/images/games/runner/soldier_duck.png" alt="" width="80px" height="60px"> -->
    </div>
    <div class="obstacle"></div>
    <div class="obstacle2"></div>
    <div class="coleccionable"></div>
</div>
