<div class="container">
    <section class="game-desc-small">
        <article class="game-info">
            <div class="game-photo">
                <img src={{gameact?.img}} alt="game-icon">
            </div>
            <div class="game-name">
                <h2>{{gameact?.nombre}}</h2>
            </div>
        </article>
        <article class="game-user-buttons">
            <div class="star-fav">
                <i class="bi bi-star " id="btn-fav" (click)="starFill()"></i>
            </div>
            <div class="game-desc">
                <a [routerLink]="['/playgame/']" fragment="description" (click)="scroll('howplay')" >
                    <p>¿Como jugar?</p>
                </a>
            </div>
            <div class="game-share" (click)="shareFill()">
                <i class="bi success bi-share" id="btn-share"></i>
            </div>
            <div class="game-rating">
                <div class="up" (click)="ratingFillUp()" >
                    <i class="bi bi-hand-thumbs-up" id="btn-hand-up"></i>
                </div>
            </div>
        </article>
    </section>
</div>
<div class="container">
    <section class="playgame">
        <article class="more-games-column">
            <div *ngFor="let juego of juegos | slice:0:4;">
            <app-game-lg [juego]="juego"></app-game-lg>
            </div>
        </article>
        <article class="game" *ngIf="gameact?.link == 'conecta-4'">
                <div class="gameinc" *ngIf="juegoiniciado == false">
                    <img src="../../../assets/images/games/cuatroenlinea.png">
                    <a role="button"><i class="bi bi-play-circle" id="btn-play" (click)="empezarjuego()"></i></a>
                </div>
                <app-cuatroenlinea *ngIf="juegoiniciado==true"></app-cuatroenlinea>
        </article>
        <article class="game" *ngIf="gameact?.link == 'runner'">
            <div class="gameinc" *ngIf="juegoiniciado == false">
                <img src="../../../assets/images/games/ninjarunner.jpg">
                <a role="button"><i class="bi bi-play-circle" id="btn-play" (click)="empezarjuego()"></i></a>
            </div>
            <app-runner *ngIf="juegoiniciado==true"></app-runner>
        </article>
        <article class="game" *ngIf="gameact?.link != 'conecta-4' && gameact?.link != 'runner'">
            <div class="gameinc" *ngIf="juegoiniciado == false">
                <img src={{gameact?.img}}>
                <a role="button"><i class="bi bi-play-circle" id="btn-play"></i></a>
            </div>
        </article>
        <article class="ads">
            <app-ad></app-ad>
        </article>
    </section>
    <section class="more-games-maxwidth">
        <div *ngFor="let juego of juegos | slice:0:5;">
            <app-game-lg [juego]="juego" clase="lg"></app-game-lg>
        </div>
    </section>
    <section class="game-desc-big">
        <article class="description" id="description">
            <h1>Descripcion</h1>
            <p>{{gameact?.descripcion}}</p>
        </article>
        <article class="howplay" id="howplay">
            <h1>Como jugar</h1>
            <!-- <p>El Conecta 4 se juega se juega de a dos jugadores sobre un tablero de siete columnas y seis filas. El objetivo es alinear cuatro fichas de un mismo jugador, horizontalmente, verticalmente o en diagonal.</p>
            <p>Haz click sobre las fichas y colocalas sobre los depositadores que se muestran en la pantalla</p>
            <img src="../../../assets/images/mouse.png" alt="" width="300" height="200"> -->
            <p>{{gameact?.comojugar1}}</p>
            <p>{{gameact?.comojugar2}}</p>
            <img src="{{gameact?.comojugarimg}}" alt="" [ngClass]="{'imgconecta4':gameact?.link=='conecta-4' , 'imgrunner':gameact?.link == 'runner'}">

        </article>
        <article class="gameplay">
            <h1>Gameplay</h1>
            <div class="galeria" style="--w: 360px; --h: 200px;">
                <input type="radio" name="navigation2" id="_1" >
                <input type="radio" name="navigation2" id="_2">
                <input type="radio" name="navigation2" id="_3" checked>
                <img src="../../../assets/images/gameplay1.png" width="360" height="200" alt="Galeria CSS 1" />
                <img src="../../../assets/images/gameplay2.png" width="360" height="200" alt="Galeria CSS 2"  />
                <img src="../../../assets/images/gameplay3.png" width="360" height="200" alt="Galeria CSS 3" />
              </div>
        </article>
    </section>
    <section class="more-category">
        <div *ngFor="let categoria of categorias">
            <app-category [categoria]="categoria"></app-category>
        </div>
    </section>
</div>

