<header><app-navbar (show)="openLogin($event)"></app-navbar></header>
<body>
    <div class="contenedor-carga" [ngStyle]='{"display":notFound}'><div class="preloader"></div></div>
      <div class="modal" [ngStyle]="{'display':showlogin}">
        <div class="closeoutclick" (click)="closeLoginoutclick()"></div>
          <div class="modalcontent">
            <app-login-register  (close)="closeLogin($event)"></app-login-register>
          </div>
      </div>
    <router-outlet></router-outlet>
</body>
<footer><app-footer></app-footer></footer>

