

<div class="container" (window.resize)="onResize($event)">
    <aside class="right">
        <app-ad></app-ad>
    </aside>
    <section class="left animate-bg">
        <h2>JUEGOS POPULARES</h2>
        <div *ngFor="let juego of juegos | slice:0:totaljuegos;let index = index">
            <div *ngIf="index<juegosgrandes">
                <app-game-lg [juego]="juego" clase="lg"></app-game-lg>
            </div>
            <div *ngIf="index>=juegosgrandes">
                <app-game-lg [juego]="juego" clase="sm"></app-game-lg>
            </div>
        </div>
    </section>
    <section class="left">
        <h2>JUEGOS NUEVOS</h2>
        <div *ngFor="let juego of juegos | slice:0:totaljuegos;let index = index">
            <div *ngIf="index<juegosgrandes">
                <app-game-lg [juego]="juego" clase="lg"></app-game-lg>
            </div>
            <div *ngIf="index>=juegosgrandes">
                <app-game-lg [juego]="juego" clase="sm"></app-game-lg>
            </div>
        </div>
    </section>
    <section class="categorys">
        <div class="more-category">
            <div *ngFor="let categoria of categorias">
                <app-category [categoria]="categoria"></app-category>
            </div>
        </div>
    </section>
</div>



