<div class="footer">
    <aside class="left">
            <div class="logo">
                <a href="#" role="button">
                    <figure>
                        <img src="./assets/images/izq.png" alt="" height="45">
                    </figure>
                    <p id="brandswitch">SWITCH</p>
                    <p id="brandgames">games</p>
                    <figure>
                        <img src="./assets/images/der.png" alt="" height="45">
                    </figure>
                </a>
            </div>
            <div class="redes">
                <div class="center">
                    <a href="#" role="button" class="icon" id="facebook"></a>
                    <a href="#" role="button" class="icon" id="twitter"></a>
                    <a href="#" role="button" class="icon" id="youtube"></a>
                </div>
            </div>
    </aside>
    <section class="right">
        <div>
            <p>¡Olvídate del aburrimiento con SwitchGames!</p>
            <p>La mayor selección de juegos gratis está aquí, para que lleves la diversión al siguiente nivel.</p>
            <p>Juega online y sin preocupaciones.</p>
        </div>
    </section>
</div>
    