
.footer{
    width: 100%;
    background-color: #032A59;
    height: 140px;
    display: flex;
    flex-wrap: nowrap; 
    /* align-self: end; */
}

.footer a{
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    padding:0px;
    text-decoration: none;
    cursor: pointer;
  }

/* Derecha del footer */

.right{
    width: 80%;
}
.right div{
    margin-top: 3rem;
}
.right p {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
}


/* Izquierda del footer */
.left{
    border: 1px solid black;
    width: 20%;
}

/* Logo */

.left .logo{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#brandswitch {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px #35ABD2;
  }
  
  #brandgames{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 0px;
  display: flex;
  align-self: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #ED6077;
  }


/* Redes */

  .left .redes{
    width:100%;
    display: flex;
    justify-content: space-around;
  }

  .left .redes .icon{
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }