*{padding: 0; margin: 0;}
nav{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  background-color: #464646 ;
}

nav a{
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  padding:0px;
  margin-left: 25px;
  text-decoration: none;
  cursor: pointer;
}



nav a p{
  font-style: normal;
  cursor: pointer;
}

nav .content{
  display: flex;
  margin-left: 2rem;
  align-self: center;
}
nav .content input{
  width: 260px;
  height: 28px;
  border-radius: 5px;
  background-color: rgba(0,0 ,0 , 0.5);
}

/* Estilo del Logo */
#brandswitch {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 0px;
  display: flex;
  align-self: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px #35ABD2;
}

#brandgames{
font-style: normal;
font-weight: 800;
font-size: 20px;
text-align: center;
line-height: 0px;
display: flex;
align-self: center;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 2px 2px #ED6077;
}
.navcat{
  font-style: normal;
  font-size: 16px;
  width: 200px;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

span {
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 10px;
  color : white;
  font-size : 0.8rem;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}


.navlogin{
  margin-left: auto;
  margin-right: 25px;
  align-self: center;
}

#btnlogin{
  background-color: #ED6077;
  color: white;
  font-size: 16px;
  border: 0.3px solid #464646;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  cursor: pointer;
}