<nav>
    <div class="logo">
        <a href="#" role="button">
            <figure>
                <img src="./assets/images/izq.png" alt="" height="45">
            </figure>
            <p id="brandswitch">SWITCH</p>
            <p id="brandgames">games</p>
            <figure>
                <img src="./assets/images/der.png" alt="" height="45">
            </figure>
        </a>
    </div>
    <div class="content">
        <input type="text" placeholder="Buscador">
    </div>
    <div class="navcat">
        <a href="#" id="catbutton" role="button"> CATEGORIAS <span>&#9660;</span></a>
        <ul class="drop-menu cat">
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
          <li><a href="">Categoria 1 <figure class="ellipse"><img src="" alt=""></figure></a></li>
        </ul>
    </div>
    <div class="navlogin">
        <button id="btnlogin" type="button">Iniciar Sesion / Registrarse</button>
    </div>
</nav>
