

<div class="container">
    <aside class="right">
        <app-ad></app-ad>
    </aside>
    <section class="left">
        <h3>JUEGOS POPULARES</h3>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
    </section>
    <section class="left">
        <h3>JUEGOS NUEVOS</h3>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
    </section>
    <section class="left">
        <div class="more-category">
            <div *ngFor="let categoria of categorias">
                <app-category [categoria]="categoria"></app-category>
            </div>
        </div>
    </section>
</div>



