<app-navbar></app-navbar>
<div class="container">
    <section class="left">
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
    </section>
    <aside class="right">
        <app-ad></app-ad>
    </aside>
</div>
