.container{
    width: 100%;
    padding-top: 6.25rem;
}

.left{
    margin-left:2.5%;
    max-width: 84%;
    display: flex;
    float: left;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.left h2{
    width: 100%;
    display:flex;
    margin: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000000;
    /* margin-left: ; */
}
.right{
    margin-top: 36px;
    display: flex;
    float: right;
    width: 120px;
    margin-right: 1%;
}

.categorys{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.more-category{
    width: 1152px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
