<div class="container-category-g">
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
</div>
<div class="container-category-s">
    <div class="card-category-g">
        <div class="card-category-g-icon">

        </div>
        <div class="card-category-g-text">

        </div>
    </div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
    <div class="card-category-g"></div>
</div>