
<div class="container">
    <figure><img src="./assets/images/izq.png" alt=""></figure>
    <div class="container-center">
        <div class="tabs">
            <a href="" role="button" id="loginbtn">Iniciar Sesion</a>
            <a href="" role="button" id="registerbtn">Registrarse</a>
        </div>
        <div class="contenido">
            <form class="login">
                <div>
                    <label for="inputuser">Usuario</label>
                    <input type="text" name="inputuser" id="inputuser">
                </div>
                <div>
                    <label for="inputpass">Contraseña</label>
                    <input type="text" name="inputpass" id="inputpass">
                </div>
                <div>
                    <a href="">Olvidaste tu contraseña?</a>
                    <button>Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>
    <figure><img src="./assets/images/der.png" alt="" class="joyderecho"></figure>
</div>

