.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6.25rem;
}

.game-desc-small{
    width: 1152px;
    height: 115px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 1.25rem ;
}

.game-info{
    display: flex;
    width: 30%;
}

.game-info .game-photo{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info .game-photo img{
    width: 94px;
    height: 83px;
    border-radius: 5px;
}

.game-info .game-namecategory{
    width: 70%;
    height: 100%;
    display: block;
}

.game-info .game-namecategory .game-name{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.game-info .game-namecategory .game-name h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.game-info .game-namecategory .game-category{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
}

.game-info .game-namecategory .game-category p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.game-user-buttons{
    width: 70%;
    display: flex;
}

.game-user-buttons .star-fav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-user-buttons .game-desc{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-user-buttons .game-share{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-user-buttons .game-rating{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playgame{
    width: 1152px;
    height: 600px;
    display: flex;
    margin-bottom: 13px;
}

app-play-game app-game-lg .gamecontainer {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

.more-games-column{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.game{
    /* width: 60%; */
    width: 800px ;
    background: rgba(0, 0, 0, 1);
}

.game img{
    width: 800px;
    height: 600px;
    opacity: 0.4;
}

.ads{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.more-games-maxwidth{
    display: flex;
    width: 1152px;
    height: 140px;
    margin-bottom: 1.25rem;
    justify-content: space-between;
}

.game-desc-big{
    width: 1152px;
    height: 1095px;
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity: 40%; */
    display: block;
    margin-bottom: 1.25rem ;
    justify-content: center;
    align-items: center;
}


.game-desc-big h1{
    padding-bottom: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    color: white;
}

.game-desc-big p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    /* text-align: center; */
    color: white;
}


.game-desc-big article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    /* padding-bottom: 3rem; */
}

.game-desc-big article h1{
    width: 80%;
    display: flex;
    justify-self: center;
}
.game-desc-big article p{
    width: 80%;
    display: flex;
    justify-self:center;
}

/* .game-desc-big .howplay{
    width: 100%;
    height: 33%;
}

.game-desc-big .gameplay{
    width: 100%;
    height: 33%;
} */

.more-category{
    width: 1152px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

app-play-game app-category .card-category{
    margin-right:0 !important;
}