<div class="container">
    <section class="game-desc-small">
        <article class="game-info">
            <div class="game-photo">
                <img src="./assets/images/game-icon.png" alt="game-icon">
            </div>
            <div class="game-namecategory">
                <div class="game-name"><h1>Mario bros</h1></div>
                <div class="game-category"><p>Juegos clásicos</p></div>
            </div>
        </article>
        <article class="game-user-buttons">
            <div class="star-fav"><p>Marcar favorito</p></div>
            <div class="game-desc"><a [routerLink]="['/playgame/']" fragment="description" ><p>¿Como jugar?</p></a></div>
            <div class="game-share"><p>Compartir</p></div>
            <div class="game-rating"><p>Valoración</p></div>
        </article>
    </section>
<!-- </div>
<div class="container"> -->
    <section class="playgame">
        <article class="more-games-column">
            <app-game-lg></app-game-lg>
            <app-game-lg></app-game-lg>
            <app-game-lg></app-game-lg>
            <app-game-lg></app-game-lg>
        </article>
        <article class="game">
            <img src="./assets/images/game-icon.png" alt="game-icon">
        </article>
        <article class="ads">
            <app-ad></app-ad>
        </article>
    </section>
    <section class="more-games-maxwidth">
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
        <app-game-lg></app-game-lg>
    </section>
    <section class="game-desc-big">
        <article class="description" id="description">
            <h1>Descripcion</h1>
            <p>Mario Bros es un videojuego de arcade desarrollado por Nintendo en el año 1983. Fue creado por Shigeru Miyamoto. En el juego, Mario es retratado como un fontanero ítalo-estadounidense que, junto con su hermano menor Luigi, tiene que derrotar a las criaturas que han venido de las alcantarillas debajo de Nueva York.El juego se centra en la exterminación de ellos, volteándolos sobre sus espaldas y pateándolos.</p>
        </article>
        <article class="howplay">
            <h1>Como jugar</h1>
        </article>
        <article class="gameplay">
            <h1>Gameplay</h1>
        </article>
    </section>
    <section class="more-category">
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
        <app-category></app-category>
    </section>
</div>